.ns {
  box-sizing: border-box;
  height: calc(2rem + 20px);
  padding-bottom: 10px;
  padding-top: 10px;
}

.ns > div {
  box-sizing: border-box;
  margin-left: 30vw;
  margin-right: 30vw;
  width: 40vw;
}

.ns input {
  all: initial;
  box-sizing: border-box;
  border: 2px solid #cccccc;
  min-width: 12rem;
  width: calc(100% - 6rem);
  height: 2rem;
  padding-left: 0.5rem;
  border-right-width: 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.ns button {
  all: initial;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 2px solid #cccccc;
  border-right-width: 1px;
  border-left-style: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 2rem;
  width: 6rem;
}
