.ipset {
  margin-top: 10vw;
  width: 60vw;
  margin-left: 20vw;
}

.operation {
  display: block;
  width: 100%;
  min-height: 2rem;
}

.operation button {
  float: right;
  height: 1.5rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

@media only screen and (max-width: 1400px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.container > .operation {
  grid-column: 1;
  /*grid-column-end: 5;*/
}

.card {
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  border-color: #cccccc;
  box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.card > header {
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: lightgray;
}

.card tr > td:nth-child(1) {
  font-weight: bolder;
}

.ips span {
  display: inline-block;
  /*border-style: solid;*/
  width: 8rem;
  padding-left: 5px;
  padding-right: 5px;
  margin: 3px;
  background-color: #eeeeee;
  border-style: solid;
  border-color: #eeeeee;
  text-align: center
}

.ips span:last-child {
  border: solid #eeeeee;
  background-color: initial;
}

.ips span input {
  all: initial;
}